@import url(~sanitize.css/sanitize.css);
.no-opacity {
    opacity: 1.0
}

.harf-opacity {
    opacity: 0.5
}

.background-red {
    background: red;
}

.background-yellow {
    background: yellow;
}

.background-green {
    background: green;
}

.world {
    width: 600px;
    height: 400px;
}

.board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.square-area {
    width: 12.5%;
    height: 12.5%;
}

.square {
    width: 100%;
    height: 100%;
}

.board-square {
    position: relative;
    width: 100%;
    height: 100%;
}

.highlight-square {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
}

.fill-black {
    background-color: black;
}

.fill-white {
    background-color: white;
}

.stroke-black {
    color: black;
}

.stroke-white {
    color: white;
}

.knight {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.knight-black {
    color: black;
}

.knight-white {
    color: white;
}